body{
   background-color: #777B7E;
     height: 100vh;
     color: #373737;
     margin: auto;
     text-align: center;
 }
 h1{
   color: white;
   font-size: 50px;
   font-family: Roboto Condensed;
   text-align: center;
 }
 p{
   color: white;
   font-size: 20px;
   font-family: Sans Serif;
   text-align: center;
 }
